@keyframes wave-border {
  0% {
    border-color: #1d4ed8;
  }
  20% {
    border-color: #db2777;
  }
  40% {
    border-color: #10b981;
  }
  60% {
    border-color: #f59e0b;
  }
  80% {
    border-color: #7c3aed;
  }
  100% {
    border-color: #1d4ed8;
  }
}

.wave-border {
  animation: wave-border 5s ease-in-out infinite;
}

.button, .button1, .button2 {
  background: linear-gradient(to left, #1e293b 50%, #502061 50%) right;
  background-size: 200%;
}
.button1{
  background: linear-gradient(to left, #1e293b 50%, #009900 50%) right;
  background-size: 200%;
}
.button2{
  background: linear-gradient(to left, #1e293b 50%, #000099 50%) right;
  background-size: 200%;
}


.button:hover, .button1:hover, .button2:hover {
  background-position: left;
}
